body {
	color:black;
	font-family: Andale Mono;
	background-color: #F0F8FF;

}


.nav {
	position:fixed;
	margin-left:600px;


}
.header {
	text-align: left;
	width:400px;
	position:fixed;

}

a {
	text-decoration: none;
	color:black;
}
a:hover {
	color:#FF69B4;
	text-transform: uppercase;
}
ul {
	list-style: none;
}
#logo {
	height:auto;
	max-width:400px;
}
#photodisplay {
	width:auto;
    height:auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline;
    padding-left: 50px;
    margin-top: 270px;
    padding-right: 50px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    float: right;
    position: absolute;
    background-color: white;
}
#turquois {
	width:auto;
	height:600px;
	padding-bottom:100px;
}
#brettdiptych {
	width:auto;
	height:700px;
	padding-left: 50px;
	padding-bottom:50px;
}
#grapefruit {
	width:auto;
	height:525px;
	padding-left:50px;
	padding-bottom:50px;
}
#tulips {
	width:auto;
	height:425px;
	padding-top:300px;
	padding-left:150px;
}
#liz {
	width:auto;
	height:375px;
	position:absolute;
	margin-left:-200px;
}
#outlet {
	height:200px;
	width:auto;
	position:absolute;
	margin-bottom: 70px;
	margin-left:500px;
}
#VIP {
	height:350px;
	width:auto;
	position:relative;
	margin-left:420px;
	margin-bottom:150px;
}
#unfocusedfossilcreek {
	height:450px;
	width:auto;
	margin-left:150px;
	margin-bottom:300px;
}
#luxuryconstruction {
	height:500px;
	width:auto;
	margin-left:30px;
	margin-bottom:200px;
}
#pinkstilllife {
	height:300px;
	width:auto;
	margin-left:130px;
	margin-bottom: 250px;
}
#bedroomwindow {
	height:500px;
	width:auto;
	margin-left: 130px;
}
#bartsdangus {
	height:375px;
	width:auto;
	margin-left: 150px;
	margin-bottom: 150px;
}
#caseyswindshield {
	height:300px;
	width:auto;
	margin-left: 75px;
	margin-bottom: 50px;
}
#greenroom {
	height:600px;
	width:auto;
	margin-left: 75px;
	margin-bottom: 25px;
}
#headlight {
	height:200px;
	width: auto;
	margin-left: 125px;
	margin-bottom: 250px;
}
#devon {
	height:500px;
	width:auto;
	margin-left: 40px;
}
#handinredlight {
	height:250px;
	width:auto;
	margin-left: 50px;
	margin-bottom: 167px;
}
#sparklingleaves {
	height:500px;
	width:auto;
	margin-left: 125px;
	margin-bottom: 110px;
}
#hardselfie {
	height:300px;
	width:auto;
	margin-left:85px;
	margin-bottom: 100px;
}
#nipple {
	height:165px;
	width:auto;
	margin-left: 129px;
	position:absolute;
	margin-top:425px;
	
}
#yellow {
	height:317px;
	width:auto;
	margin-left:200px;
	margin-bottom: 50px;
	
}
#creosote {
	height:387px;
	width:auto;
	margin-left: 125px;
	margin-bottom: 100px;
}
#monsoonlake {
	height:500px;
	width:auto;
	margin-left: 75px;
}
#scalp {
	height:264px;
	width:auto;
	margin-left: 40px;
	margin-bottom: 266px;
}
#milo {
	height:300px;
	width:auto;
	margin-left: 100px;
	margin-bottom: 200px;
}
#shelby {
	height:575px;
	width:auto;
	margin-left: 100px;
	margin-bottom: 25px;
}
#tempe2014 {
	height:400px;
	width:auto;
	margin-left: 175px;
	margin-bottom: 75px;
}

img {
	width: 600px;
	height: auto;
}
.nav {
	position:left;
	position:fixed;
	margin-top: 20px;
}